
.main{
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    width: 700px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    width: 700px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}
.right:hover{
    background-color: #008CBA;
  color: white;
}
.left:hover{
    background-color: #008CBA;
  color: white;
}
